.page {
    background-color: #2a2c2f;
    color: #ffffff;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-fon-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    max-width: 1280px;
    margin: auto;
  }

  *,*::before,*::after {outline: 1px solid red}