.lead__title {
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    margin: 0 auto;
    text-align: center;
  }
  @media (max-width: 680px) {
    .lead__title {
      font-size: 60px;
      line-height: 1.1;
    }
  }
  
  @media (max-width: 420px) {
    .lead__title {
      font-size: 40px;
      line-height: 1.1;
    }
  }