.footer__links {
    list-style: none;
    display: flex;
    gap: 19px;
    padding-left: 0;
    margin: 0;
  }
  
  @media (max-width: 490px) {
    .footer__links {
      flex-direction: column;
      gap: 32px;
    }
  }