.cover {
  margin: 0 auto;
  max-width: 1184px;
  width: 100%;
  max-height: 740px;
  background-image: url(../../images/__background.jpg);
  aspect-ratio: 8/5;
  /*display: flex;
    flex-direction: column;
    justify-content: center;*/
  background-size: cover;
  position: relative;
}

.cover::before {
  content: "";
  background: #2a2c2f;
  opacity: 0.3;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: opacity 0.3s;
}

.cover:hover::before {
  opacity: 0.8;
}
